<!DOCTYPE html>
<html ng-app>
<head>
  <title>Built-in Directives</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<style>
  .valid {
    color: green;
  }

  .invalid {
    color: red;
    background-color: black;
  }

</style>
<body>
  <div class="container">
    <div class="row" style="background:lightgrey">
      <h2>ng-repeat Exercise</h2>
      <div ng-init="suits=['Spades: &spades;', 'Clubs: &clubs;', 'Hearts: &hearts;', 'Diamonds: &diams;']"></div>

      <ul ng-repeat='suit in suits'>
        <li>{{suit}}</li>
      </ul>

      <ul ng-repeat='card in cards'>
        <li>{{card}}</li>
      </ul>
      <hr>
      <h2>ng-repeat with Duplicates</h2>
      <div ng-init="dups=[1,1,2,5,6,9,9,9]"></div>
      <ul ng-repeat='dup in dups track by $index'>
        <li>{{dup}}</li>
      </ul>
      <hr>
      <h2>ng-repeat over object</h2>
      <p>return values:</p>
      <div ng-init='obj={name: "mike", age: 35, title: "Mr."}'></div>
      <ul ng-repeat='attr in obj'>
        <li>{{attr}}</li>
      </ul>
      <p>return keys &amp; values:</p>
      <ul ng-repeat='(key, attr) in obj'>
        <li>{{key}}: {{attr}}</li>
      </ul>
      <p>return keys:   </p>
      <ul ng-repeat='(key, attr) in obj'>
        <li>{{key}}</li>
      </ul>
      <hr>
      <h2>ng-hide</h2>
        <div ng-show='3 + 4 == 5'>
          3 + 4 isn't 5, don't show
        </div>

        <div ng-show='3 + 4 == 7'>
          3 + 4 is 7, do show
        </div>

        <div ng-hide='3 + 4 == 5'>
            3 + 4 isn't 5, don't hide
        </div>

        <div ng-hide='3 + 4 == 7'>
          3 + 4 is 7, do hide
        </div>
      <hr>
      <h2>Sign-up page exercise</h2>
      <h3>Sign Up!</h3>
      <input ng-class="(pword.length || 0) < 6  ? 'invalid' : 'valid'" type="password" ng-model="pword" ><br><br>
      
      <p ng-class="(pword.length || 0) < 6  ? 'invalid' : 'valid'">Your password is {{pword.length || 0}} {{pwordCount}}
      <ng-pluralize count="pword || 0"
                 when="{
                     'one': 'character',
                     'other': 'characters'}">
      </ng-pluralize>
       long</p>
      <button class="btn btn-success" ng-hide="(pword.length || 0) < 6">Sign Up</button>
      <p ng-show="(pword.length || 0) < 6">Your password is not long enough!</p>
      <hr>
      
    </div>
  </div> 
</body>
</html>