<!DOCTYPE html>
<html ng-app="ramis">
<head>
  <title>Cash Register</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="cash.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<style>
  .row {
    margin-top: 20px;
  }
  button {
    width: 75%;
  }
</style>
<body>
  <div class="container"  ng-controller="MainController">
    <div class="row">
      <h2 class="text-center">Welcome to Ramis Restaurant!</h2><hr>
      <div>
        <div class="col-md-3" ng-repeat="menuItem in menu">
          <button class="btn btn-primary center-block" ng-click="addToOrder(menuItem)">{{menuItem.item}} {{menuItem.price | currency}}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Order:</h3>
          </div>
          <div class="panel-body">
            <div ng-repeat="order in orders track by $index">
              <p>{{order.item}} x {{order.count}} ({{order.count * order.price | currency}})</p>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Order Totals:</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-3">
              <h3>SubTotal: </h3> 
              <h3>Tax: </h3> 
              <h3>Total: </h3> 
            </div>
            <div class="col-md-3 text-right">
              <h3>{{subTotal | currency}}</h3>
              <h3>{{tax | currency}}</h3>
              <h3>{{Total | currency}}</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- <p style='text-align: center;'>Orders: {{orders}}</p> -->
    </div>
  </div>

</body>
</html>