<!DOCTYPE html>
<html ng-app="events">
<head>
  <title>Events</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="events.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="container" ng-controller="MainController">
    <div class="row">
      <h3>Events - Example</h3>
      <button class="btn btn-primary" ng-click="pickRandomNumber()">Pick Random Number</button>
      <h3>The number is: {{number}}</h3>
      <hr>
      <h3>Events - Exercise 1</h3>
      <h4>Q: Explain in as much detail as you can what happens when you click the button. Why does number update in the template without us telling it to?</h4>
      <p><strong>A:</strong> When I click the button, ng-click, which is insdie a ng-contoller tag, calls the pickRandomNumber function which sets the number variable to the random number as describe by the function. It automatically updates because that's what Angular does, it listens or watches for updates to variables and then updates them on the front end.</p>
    </div>
    <hr>
    <h3>Events - Exercise 2</h3>
    <div class="form-group col-md-4">
      <label for="reverse">Word Reverse:  </label>
      <input type="text" class="form-control" id="reverse" placeholder="Enter a word..." ng-model="word"><br>
      <p>Your word: {{word}}</p>
      <button class="btn btn-primary" ng-click="reverseWord(word)">Reverse</button>
  </div>
  </div>

</body>
</html>